In [4]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
sample = pd.read_csv('./sample.csv')

In [9]:
print(sample)

    Serial Number                   Company Name  Employee Markme  \
0   9788189999599                 TALES OF SHIVA             Mark
1   9780099578079      1Q84 THE COMPLETE TRILOGY  HARUKI MURAKAMI
2   9780198082897                       MY KUMAN             Mark
3   9780007880331        THE GOD OF SMAAL THINGS    ARUNDHATI ROY
4   9780545060455               THE BLACK CIRCLE             Mark
..            ...                            ...              ...
94  9788184821536  MORE STORIES FROM THE JATAKAS             Mark
95  9788184821543           MORE TALES OF BIRBAL                -
96  9788184821550         TALES FROM THE JATAKAS                -
97  9788184821567               RAMarkS OF MEWAR                -
98  9788184821574       THE SONS OF THE PANDAVAS                -

           Description  Leave
0                 mark      0
1                 Mark      0
2                 Mark      0
3   4TH HARPER COLLINS      2
4   4TH HARPER COLLINS      0
..                 ...    ...
94                 ACK      0
95                 ACK      0
96                 ACK      0
97                 ACK      0
98                 ACK      0

[99 rows x 5 columns]

In [10]:
sample.shape

(99, 5)